<a href="https://colab.research.google.com/github/gmlessa/bootcamp-datascience-alura/blob/main/Super_Desafio_Modulo_1_Gustavo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Olá **Cientista**!

Bem vinda e bem vindo ao **mega desafio do Módulo 01**, neste desafio queremos que você aplique tudo que aprendeu no curso, analisando uma outra informação ~~referente a base de dados de [produção hospitalar](http://www2.datasus.gov.br/DATASUS/index.php?area=0202&id=11633&VObj=http://tabnet.datasus.gov.br/cgi/deftohtm.exe?sih/cnv/qi), seja número de internação, óbito, AIH ou taxa de mortalidade.~~ 

**P.S: Infelizmente o DataSUS está fora do ar por tempo indeterminado, para você não parar seu projeto, adicionamos no [GitHub](https://github.com/alura-cursos/agendamento-hospitalar/tree/main/dados) do curso, duas novas bases para você utilizar neste projeto (COVID-19 e Óbitos).**

Uma base é dos **casos de COVID-19 baixadas do projeto [BRASIL.IO](https://brasil.io/dataset/covid19/caso/)**, outra são os números de óbitos registrados no cartório civil desde 1970 retirado do **[Kaggle](https://www.kaggle.com/amandalk/registered-deaths-brazil)**.

Vocês podem escolher qualquer uma das duas bases de dados, a de COVID-19 é mais desafiadora e você vai precisar descompactar o arquivo por ser grande e entrar no site do Brasil.IO para entender todas as features presentes (No Brasil.IO tem diversas bases sobre COVID-19, estamos usando a chamada **Casos**). A base de óbito é mais simples e relativamente semelhate a utilizada no curso.

Algumas dicas para você mandar bem no desafio final, capriche nas análises, escreva suas conclusões e hipóteses (mesmo que resultado seja inconclusivo) e não esqueça de colocar um resumo dos pontos que julgar mais interessantes do seu projeto.



E para que o seu projeto tenha a oportunidade de ser avalido pelo Thiago G. Santos e Átila Iamarino, ao vivo na **live de revisão de projetos** submeta o link compartilhado do seu notebook [neste formulário](https://docs.google.com/forms/d/e/1FAIpQLSd1jemhvdo8sM6e-bgOryyZ2P3YuMO6E_mUQXabyBX_xhuZQQ/viewform?usp=sf_link) até dia 22/11 às 23h59.

Para facilitar a vida dos seus instrutores favoritos, no momento da correção, algumas dicas de como estruturar seu projeto:

- Como título do seu **Colab** coloque seu nome (Ex: Thiago_Gonçalves.ipynb)
- Crie um resumo das suas análises na parte superior do notebook
- Informe no resumo os dados que vc vai analisar (Ex: Finaceiros e Internações)

Qualquer dúvida não deixe de perguntar no Discord, compatilhe seu projeto nas redes sociais e crie um repositório no github, esse é o início do seu portifólio em Data Science.



Fique a vontade para utilizar esse notebook como template projeto.

## Resumo:

Faça aqui o resumo das suas analises, destacando os pontos principais do seu projeto

## Análise dos dados:

Inicie aqui o desenvolvimento do seu projeto, não esqueça de adicionar textos curtos e objetivos para que os avaliadores entendam sua linha de raciocínio e as conclusões que você está chegando crie uma narrativa convincente e coerênte aos dados analisados.

Objetivo principal: Fazer uma análise descritiva dos dados de casos de COVID-19, observando principalmente o número de casos e taxa de morte, e levantar hipóteses sobre um determinado tipo de comportamento que os dados possam ter.

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("https://raw.githubusercontent.com/gmlessa/bootcamp-datascience-alura/main/DADOS_CASOS_COVID19_MAR_2022.csv")

In [3]:
dados.head()

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2022-03-27,AC,NaN,state,123808,1992,True,894470,12,13841.49273,0.0161
1,2022-03-27,AM,NaN,state,581070,14151,True,4207714,13,13809.63630,0.0244
2,2022-03-27,AP,NaN,state,160328,2122,True,861773,16,18604.43527,0.0132
3,2022-03-27,BA,NaN,state,1530054,29658,True,14930634,29,10247.74969,0.0194
4,2022-03-27,CE,NaN,state,1239746,26708,True,9187103,23,13494.41712,0.0215

In [4]:
dados.tail()

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
19757,2020-02-29,SP,NaN,state,2,0,False,46289333,35,0.00432,0.0
19758,2020-02-28,SP,NaN,state,2,0,False,46289333,35,0.00432,0.0
19759,2020-02-27,SP,NaN,state,1,0,False,46289333,35,0.00216,0.0
19760,2020-02-26,SP,NaN,state,1,0,False,46289333,35,0.00216,0.0
19761,2020-02-25,SP,NaN,state,1,0,False,46289333,35,0.00216,0.0

In [6]:
dados.shape

(19762, 11)